* {
	margin: 0px;
}

#muscicContainer {
	border: 1px solid #F2F2F2;
}

#muscicContainer a {
	display: block;
	width: 73px;
	height: 30px;
	margin: -1px 5px 0 10px;
	padding-left: 37px;
	line-height: 30px;
	background: url("../../lib/images/my-music.png") no-repeat -120px -120px;
}

.musicBg {
	background: url("../../lib/images/my-music-bg.png") repeat-x;
	margin: 0px 0px 5px 0px;
	color: white;
	font-family: 微软雅黑;
	font-size: 12px;
}

#musicList {
	list-style: none;
}

#musicList ul {
	padding-left: 0px;
}

#musicList li {
	margin: 0px;
	padding: 5px 3px;	
	background: url("../../lib/images/underline.png") repeat-x bottom;
	list-style-type: none;
}

#musicList ul li:hover {
	background-color: #BCD2EE;
	cursor: pointer;
}

#musicList li a {
	background: url(../../lib/images/music-list.png) no-repeat -203px -468px;
	display: block;
	overflow: hidden;
	float: left;
	height: 13px;
	width: 13px;
	margin: 6px 6px 0 10px;
	padding-left: 10px;
}

.mouseover {
	background-color: #BCD2EE;
	cursor: pointer;
}

audio {
	width: 300px;
}