@font-face {
    font-family: 'League Gothic';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?') format('embedded-opentype'),
    url('League_Gothic-webfont.woff') format('woff'),
    url('League_Gothic-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(http://themes.googleusercontent.com/static/fonts/courgette/v1/BHG8ZtTfO0yYnp02--Qxqj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body {
    background-color: #000000; /*#212426;*/
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow: hidden;
}
#myCanvas{left: 50%; position: absolute; top: 20px; margin-left: -550px;opacity: 0.7;}
#info {
    width: 100%;
    position: absolute;
    top: 0;
    height: 52px;
    background-color: #111;
    color: #ccc;
    font-family: 'League Gothic', arial, sans-serif;
    display: none;
}
#info h1 {
    margin: 0 0 0 20px;
    float: left;
    font-size: 40px;
    color: #ff0077;
}
#info h2 {
    margin: 14px 0 0 5px;
    float: left;
    font-size: 25px;
}

#info ul {
    float:right;
    display-icon-type:none;
}

#info li {
    display:block;
    float:left;
    margin-right: 15px;
}

#info li a {
    color: #ff0077;
    margin-left: 5px;
}

#loading {
    font-size: 60px;
    color: #fff;
    width: 500px;
    margin-top: 300px;
    position: absolute;
    background-color: #111;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
    border: 1px solid #ccc;
    text-align: center;
    display: none;
}

#loading a {
    color: #fff;
    text-shadow: 0 0 10px #fff;
    text-decoration: none;
}

#loading p{
    color: #fff;
    font-size: 18px;
}

#togglefft {
    float: left;
    margin: 20px 0 0 10px;
    color: #ff0077;
}

#fft { 
    display: none;
    margin: 2px 0 0 10px;
    float: left;    
}

#stats {
    margin: 0 0 0 10px;
    float: left;
}

#songinfo {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111;
    display: none;
}

#songinfo span, #songinfo h3 {
    color: #ccc;
    font-size: 12px;
    margin: 5px 30px 5px 30px;
    padding: 0;
}

#songinfo a {
    color: #ff0077;
}
